<nav>
<ul class="nav-bar">
  <li class="nav-logo" >Ici le logo</li>
  <li class="nav-list" ><a class="nav-link" href="#home">Home</a></li>
  <li class="nav-list"><a class="nav-link" href="#news">News</a></li>
  <li class="nav-list nav-dropdown" style="float:right">
    <a href="javascript:void(0)" class="nav-dropbtn"><img class="avatar-small" src="https://placeimg.com/640/480/nature/sepia"></img></a>
    <div class="nav-dropdown-content">
      <a href="#"><button class="btn-blue">Connection</button>
</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
</ul>
</nav>
<img class="avatar" src="https://placeimg.com/640/480/nature/sepia"></img>
<img class="avatar-small" src="https://placeimg.com/640/480/nature/sepia"></img>
<img class="avatar-big" src="https://placeimg.com/640/480/nature/sepia"></img>
<div class="card">
  
  <img class="avatar-big" src="https://placeimg.com/640/480/nature/sepia"></img>
  <div class="card-content">
    <h4><b>John Doe</b></h4>
    <p>Architect & Engineer</p>
  </div>
</div> 