.avatar {
  border-radius: 50%;
  height: 80px;
  background-size: contain;

}

.avatar-small {
  border-radius: 50%;
  height: 60px;
  background-size: contain;
}

.avatar-big {
  border-radius: 50%;
  height: 160px;
  background-size: contain;
}