.nav-bar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: rgb(153, 148, 148);
}

.nav-logo img{

  object-fit: cover;
  object-position:0 50%;
  width: 150px;
  height: 75px;
}
.nav-int{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-start;
}

.nav-link{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-list:hover{
  background-color: red;
}

.nav-list:hover .dropbtn {
  background-color: red;
}

.nav-dropdown {
  display: inline-block;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #c5c2c2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-dropdown-content a {
  color: black;
  width: 100%;
  padding: 12px 16px;
  background-color: #c5c2c2;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav-dropdown-content a:hover {background-color: #f1f1f1}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}