nav {
  position:relative;
  top: 10px;
  width: 100%;  
  margin: 0 0 1em 0;
  float: left;
  padding: 0;
}
.nav-bar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: rgba(153, 148, 148, 0.349);

}

.nav-logo img{
  object-fit: cover;
  object-position:0 50%;
  width: 150px;
  height: 75px;
}
.nav-int{
  align-self:stretch;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.nav-list{
  align-self:stretch;
  display:flex;
  align-items:center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.nav-list:hover{
  background-color: rgb(197, 195, 195);
}

.nav-link{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
